h1
{
	color: red;
	text-align: right;
    text-shadow: 8px 8px 10px orange;
	font-size: 7pc;	
	font-family: 'MendoanScript', serif;
	border: 6px red groove;   
	border-radius: 30px;
	box-shadow: 15px 15px 20px orange;


}

h2
{
	color: orange;
	font-size: 160px;
	text-align: left; 
	border: 6px red groove;   
	border-radius: 10px;
	font-family: 'MendoanScript', Arial, serif;

}

body
{
	background-image: url(image2.jpg);
	text-shadow: 4px 4px 8px black;
}

p
{
	font-size: 3pc;
	color: green;
}

@font-face {
    font-family: 'MendoanScript', Arial, serif;
    src: url('MendoanScript.ttf');
}