h1
{
	color: red;
	text-align: right;
	font-size: 7pc;	
   

}

h2
{
	color: orange;
	font-size: 160px;
	text-align: left; 
}

body
{
	background-image: url(image2.jpg);
}

p
{
	font-size: 3pc;
	color: green;
}

@font-face {
    font-family: 'police1';
    src: url('police1.tff');
}